<div id="article">
  <div id="settings">
    <a href="#">Read</a>
    <a href="/page/<%=page_id%>/edit">Edit</a>
    <a href="#">History</a>
    <input type="search" name="" placeholder="Search" />
  </div>

  <div id="content">
    <%- html %>
  </div>
</div>
