<div id="sidebar" class="pure-menu custom-restricted-width" >
  <div id="logo">
    <img src="/images/logo.svg.png" alt="Logo" />
  </div>
  <div id="namespaces">
    <ul class="pure-menu-list">
      <li class="pure-menu-item"><a href="/namespace/1/pages" class="pure-menu-link">Recipes</a></li>
      <li class="pure-menu-item"><a href="/namespace/2/pages" class="pure-menu-link">Ingredients</a></li>
      <li class="pure-menu-item"><a href="/namespace/3/pages" class="pure-menu-link">Units</a></li>
    </ul>
  </div>
</div>
