<div id="sidebar">
  <div id="logo">
    <img src="/images/logo.svg.png" alt="Logo" />
  </div>
  <div id="namespaces">
    <ul>
      <li><a href="/namespace/1/pages">Recipes</a></li>
      <li><a href="/namespace/2/pages">Ingredients</a></li>
      <li><a href="/namespace/3/pages">Units</a></li>
    </ul>
  </div>
</div>
