<div id="topbar" <div class="pure-menu pure-menu-horizontal">
     <ul class="pure-menu-list">
         <li class="pure-menu-item"><a href="#" class="pure-menu-link">Create User</a></li>
         <li class="pure-menu-item"><a href="#" class="pure-menu-link">Log In</a></li>
     </ul>
</div>
