<!DOCTYPE html5>
<html>
  <head>
    <% include _head.html.ejs  %>
  </head>

  <body>

      <% include _topbar.html.ejs %>
      <% include _sidebar.html.ejs %>
      <% include _article.html.ejs %>
    
  </body>
</html>
