<!DOCTYPE html5>
<html>
  <head>
    <% include _head.html.ejs  %>
  </head>

  <body>

      <% include _topbar.html.ejs %>
      <% include _sidebar.html.ejs %>

      <div id="pages">
          <ul>
              <% pages.forEach(function(page) { -%>
                  <li> <a href="/namespace/<%=page.page_namespace_id%>/pages/<%=page.page_id%>"><%=page.page_title.replace("_", " ")%></a> </li>
              <% }); -%>
          </ul>
      </div>
    
  </body>
</html>
