<!DOCTYPE html5>
<html>
  <head>
    <% include _head.html.ejs  %>
  </head>

  <body>

      <% include _topbar.html.ejs %>
      <% include _sidebar.html.ejs %>

      <div id="pages">
          <ul>
              <% pages.forEach(function(page) { -%>
                  <li> <%=page.page_title%> </li>
              <% }); -%>
          </ul>
      </div>
    
  </body>
</html>
