<!DOCTYPE html>
<html>
  <head>
    <% include _head.html.ejs  %>
  </head>

  <body>
      <div class="container">
      <% include _topbar.html.ejs %>
      <% include _sidebar.html.ejs %>
      <%- include _article.html.ejs %>
      </div>
  </body>
</html>
