img {
    width: 50px;
}

.custom-restricted-width {
    /* To limit the menu width to the content of the menu: */
    display: inline-block;
    /* Or set the width explicitly: */
    /* width: 10em; */
}

#pages {
    display: inline-block;
}

.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#topbar {
    text-align: right;
}

#sidebar{
    text-align: center;
}

.form {
    
}